{# Requires including as such: include 'partials/_link_list.html.twig' with {'pages': number} #}

<ul class="list">
    {% for post in posts %}
        <li>
            <a href="{{ path('post_show', {'slug': post.slug}) }}">
                <h3>{{ post.title }}</h3>
                <p>{{ post.publishAt|date("d/m/Y") }}</p>
            </a>
        </li>
    {% endfor %}
</ul>

{# Pagination #}
{% if pages > 1 %}
    <div class="flex-row">
    {% for i in 1 .. pages %}
        <a href="{{ path('post_page', {'page': i}) }}">{{ i }}</a>
    {% endfor %}
    </div>
{% endif %}
