{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>{{ blogPost.title }}</h1>
        <div class="post-data">
            {{ blogPost.publishAt | date }}
            <div class="flex-row">
            {% for category in blogPost.categories %}
                <a href="#">{{ category.name }}</a>
            {% endfor %}
            </div>
        </div>
        <div class="post-content">
            {{ blogPost.content | raw }}
        </div>
    </article>
    <script src="{{ asset('assets/js/captionsToAlt.js') }}"></script>
{% endblock %}