{% extends 'base.html.twig' %}

{% block title %}{{ blogPost.title }}{% endblock %}
{% block metaOgTitle %}{{ blogPost.title }}{% endblock %}
{% block metaTwitterTitle %}{{ blogPost.title }}{% endblock %}
{% block metaDescription %}
    {% if blogPost.summary is defined and blogPost.summary|length > 0 %}
        {{ blogPost.summary }}
    {% else %}
        {{ blogPost.content|striptags('<em><strong><i><mark><cite><dfn><br />')|raw|slice(0,220) }}
    {% endif %}
{% endblock %}
{% block metaOgDescription %}
    {% if blogPost.summary is defined and blogPost.summary|length > 0 %}
        {{ blogPost.summary }}
    {% else %}
        {{ blogPost.content|striptags('<em><strong><i><mark><cite><dfn><br />')|raw|slice(0,220) }}
    {% endif %}
{% endblock %}
{% block metaTwitterDescription %}
    {% if blogPost.summary is defined and blogPost.summary|length > 0 %}
        {{ blogPost.summary }}
    {% else %}
        {{ blogPost.content|striptags('<em><strong><i><mark><cite><dfn><br />')|raw|slice(0,220) }}
    {% endif %}
{% endblock %}

{% block metaOgImage %}
    {% if blogPost.thumbnail is not empty %}
        {{('https://' ~ domain ~ baseUrl ~ '/' ~ blogPost.thumbnail)|raw }}
    {% endif %}
{% endblock %}
{% block metaTwitterImage %}
    {% if blogPost.thumbnail is not empty %}
        {{('https://' ~ domain ~ baseUrl ~ '/' ~ blogPost.thumbnail)|raw }}
    {% endif %}
{% endblock %}
{% block additionalMeta %}
    {% if blogPost.categories is not empty %}
        <meta name="keywords" content="
            {% for category in blogPost.categories %}
                {{ category.name }},
            {% endfor %}
        ">
    {% endif %}
{% endblock %}

{% block body %}
    <article class="blog__container">
        <div class="blog__header {% if blogPost.thumbnail is not empty %} blog__hero {% endif %}">
            {% if blogPost.thumbnail is not empty %}
                <div class="blog__hero-img-container">
                    <img src="{{baseUrl ~ '/' ~ blogPost.thumbnail }}" alt="{{ blogPost.title }}">
                </div>
            {% endif %}
            <div class="blog_header-text">
                <h1>{{ blogPost.title }}</h1>
                <time>{{ blogPost.publishAt | date }}</time>
            </div>
        </div>
        <div class="blog__content">
            {{ blogPost.content | raw }}
        </div>
        <div class="flex-row">
            {% for category in blogPost.categories %}
                <a href="{{ path('blog_category', {'name': category}) }}" class="button">{{ category.name }}</a>
            {% endfor %}
        </div>
    </article>
    <script src="{{ asset('assets/js/captionsToAlt.js') }}"></script>
{% endblock %}